Source: havis.capture-api
Maintainer: HARTING IT_SD <opensource@HARTING.com>
Build-Depends: debhelper, nodejs:amd64, default-jdk-headless:amd64, ant:all, ivy:all, libjsch-java:all
 
Package: havis.capture-api
Architecture: all
Depends: ${shlibs:Depends}
Description: Ha-VIS Capture API
